.text-view-button {
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: fit-content;
  display: block;
  font-weight: bold;
}
.ts-small-radius {
  border-radius: 5px;
}
.ts-medium-radius {
  border-radius: 25px;
}
.button-bg-color {
  background-color: #4caf50;
}

.post-link-button {
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: fit-content;
  display: block;
}

.ts-red-bg {
  background-color: red;
}
.ts-blue-bg {
  background-color: blue;
}
.ts-green-bg {
  background-color: green;
}
.ts-yellow-bg {
  background-color: yellow;
}
.ts-purple-bg {
  background-color: purple;
}
.ts-orange-bg {
  background-color: orange;
}
.ts-pink-bg {
  background-color: pink;
}
.ts-black-bg {
  background-color: black;
}
.ts-white-bg {
  background-color: white;
}
.ts-gray-bg {
  background-color: gray;
}

.text-view-button:hover {
  background-color: gray;
}

.ts-red-text {
  color: red;
}
.ts-blue-text {
  color: blue;
}
.ts-green-text {
  color: green;
}
.ts-yellow-text {
  color: yellow;
}
.ts-purple-text {
  color: purple;
}
.ts-orange-text {
  color: orange;
}
.ts-pink-text {
  color: pink;
}
.ts-black-text {
  color: black;
}
.ts-white-text {
  color: white;
}
.ts-gray-text {
  color: gray;
}
